/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    letter-spacing: 1px;

}

body {
    background-color: #0d0e0f;
    color: #ffffff;
}

hr {
    border: 0;
    height: 0.2px;
    background-color: #272727;
}

/* Header */
.header {
    background-color: #0d0e0f;
    height: 46px;
    padding: 10px 0;
}

.header__container {
    width: calc(40% + 550px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 20px;
}

.header__logo {
    color: rgb(0, 132, 255);
    font-size: 20px;
    cursor: pointer;
}

.header__logo--link {
    text-decoration: none;

}

.header__logo--link:visited {
    color: rgb(0, 132, 255);
}

.header__logo--link:active {
    color: rgb(158, 201, 241);
}

.header__link {
    color: white;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.header__link:hover{
    color: rgb(169, 191, 212);
}

/* Buttons */
.header__actions {
    margin-left: auto; 
    display: flex;
    align-items: center;
}


.header__login {
    margin-left: 20px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3b424a;
    color: #ffffff;
}

.header__login:hover {
    background: linear-gradient(135deg, #485058, #3b424a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header__signup {
    margin-left: 10px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #559cec, #357abd);
    color: #ffffff;
}

.header__signup:hover {
    background: linear-gradient(135deg, #5a9ee8, #4a90e2);
    box-shadow: 0 2px 4px rgba(74, 144, 226, 0.1);
}

.header__logout {
    margin-left: 5px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222931;
    color: #ffffff;
}

.header__logout:hover {
    background: linear-gradient(135deg, #485058, #3b424a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Main */
.main {
    background-color: #0d0e0f;
    color: #ffffff;
}

.history {
    color: #ffffff;
    width: calc(40% + 550px);
    margin: 0 auto;
}
  
.history-tab__title {
    font-size: 24px;
    font-weight: 400;
    margin: 35px 0 60px 0 ;
}


/* Tab */
.history-tab__tabs {
    margin-bottom: 20px;
}
  
.history-tab__tab {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: all ease 0.3s;

    /* Remove default button appearance */
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.history-tab__tab::-moz-focus-inner {
    border: 0;
    padding: 0;
}
  
.history-tab__tab.active {
    border-bottom: 2px solid #1890ff;
}

.history-tab__tab:hover {
    color: #1890ff; /* Change text color on hover */
}
  
.order-history__container {
    display: flex;
    gap: 15px;
    margin: 15px 0 10px 0;
    align-items: center;
    font-weight: 300;
    
}


/* FILTER SELECT */
.filter-select {
    background-color: #2c2c2c; 
    color: #e1e1e1; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 5px; 
    font-size: 11px; 
    margin: 5px 0 5px 0; 
    width: 100px; 
    cursor: pointer;
    /* Remove default styling in most browsers */
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    /* Change arrow */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat; 
    background-position: right 10px center; 
    background-size: 16px; 
    padding-right: 30px; 
}



/* Remove the default arrow in Firefox */
.filter-select::-ms-expand {
    display: none;
}


.filter-select:focus {
    outline: none;
}

  
.filter-select:focus {
    outline: none;
}
  
.filter-select option {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 8px 15px;
}




/* ORDER HISTORY TABLE
.order-history__table {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.9fr 0.9fr 0.9fr 1.2fr 0.8fr;  
    font-size: 12px;
    font-weight: 500;
    width: 100%;
}

.order-history__table thead,
.order-history__table tbody,
.order-history__table tr {
    display: contents; 
}

.order-history__table th,
.order-history__table td {
    padding: 15px 0;
    text-align: left;
    border-bottom: 1px solid #333;
}

.order-history__table th {
    font-weight: 700;
    border-bottom: 2px solid #333;
}

.order-history__table td {
    font-weight: 300;
}

  
.order-history__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    color: #666;
}
  
.order-history__no-data img {
    width: 100px;
    margin-bottom: 20px;
} */

/* TABLE */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 11px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    display: grid;
    grid-template-columns: 1.3fr 0.8fr 0.6fr 0.6fr 1fr 1fr 0.8fr 0.8fr 0.4fr;
}

thead, tbody, tr {
    display: contents;
}

th  {
    padding: 12px 5px 12px 5px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-weight: 700;
}

td {
    padding: 15px 5px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-weight: 300;
}

.open-orders__cell--buy, .trade-history__cell--buy {
    color: #3a9b45; 
}

.open-orders__cell--sell, .trade-history__cell--sell{
    color: #ef483f; 
}

.open-orders__history-btn{
    cursor: pointer;
}



.cancel-btn {
    background-color: transparent;
    color: #777777;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 10px;
}

.cancel-btn:hover {
    color: #dedede;
}

.open-orders__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    color: #666;
}
.open-orders__no-data img {
    width: 100px;
    margin-bottom: 20px;
}
