/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.7px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0e0f;
    color: #ffffff;
}

/* Container */
.header__container {
    max-width: 1000px;
    margin: 0 auto;
}


/* Header */
.header {
    background-color: #0d0e0f;
    padding: 10px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 20px;
}

.header__logo {
    color: rgb(0, 132, 255);
    font-size: 20px;
}
.header__logo--link {
    text-decoration: none;

}

.header__logo--link:visited {
    color: rgb(0, 132, 255);
}

.header__logo--link:active {
    color: rgb(0, 132, 255);
}

.header__link {
    color: white;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
}

.header__link:hover{
    color: rgb(0, 132, 255);
}

/* Buttons */
.header__button {
    font-size: 10px;
    margin-left: 20px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4a90e2;
    color: #ffffff;
}