/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    letter-spacing: 1px;

}

body {
    background-color: #0d0e0f;
    color: #ffffff;
}

hr {
    border: 0;
    height: 0.2px;
    background-color: #272727;
}


/* Header */
.header {
    background-color: #0d0e0f;
    height: 46px;
    padding: 10px 0;
}

.header__container {
    width: calc(40% + 550px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 20px;
}

.header__logo {
    color: rgb(0, 132, 255);
    font-size: 20px;
    cursor: pointer;
}

.header__logo--link {
    text-decoration: none;
}

.header__logo--link:visited {
    color: rgb(0, 132, 255);
}

.header__logo--link:active {
    color: rgb(158, 201, 241);
}

.header__link {
    color: white;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.header__link:hover{
    color: rgb(169, 191, 212);
}

/* Buttons */
.header__actions {
    margin-left: auto; 
    display: flex;
    align-items: center;
}


.header__login {
    margin-left: 20px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3b424a;
    color: #ffffff;
}

.header__login:hover {
    background: linear-gradient(135deg, #485058, #3b424a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header__signup {
    margin-left: 10px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #559cec, #357abd);
    color: #ffffff;
}

.header__signup:hover {
    background: linear-gradient(135deg, #5a9ee8, #4a90e2);
    box-shadow: 0 2px 4px rgba(74, 144, 226, 0.1);
}

.header__logout {
    margin-left: 5px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222931;
    color: #ffffff;
}

.header__logout:hover {
    background: linear-gradient(135deg, #485058, #3b424a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* hero section */
.hero {
    height: 300px;
    background-color: #081d3b;
}

.hero__container {
    width: calc(40% + 550px);
    margin: 0 auto;
}

.hero__title{
    padding: 50px 0 0 0 ;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;

}

.hero__text{
    padding: 30px 0 0 0 ;
    font-weight: 300;
}

.hero__register {
    margin: 30px 0 0 0;
}

.hero__register--input {
    width: 300px;
    padding: 12px 15px;
    border: 1px solid #333;
    margin: 10px 1px 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #081d3b;
}

.hero__register--input::placeholder {
    color: #666;
}

.hero__register--button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #559cec, #357abd);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.hero__register--button:hover {
    background-color: #357abd;
}


/* Main */
.main {
    background-color: #0d0e0f;
    color: #ffffff;
    padding-bottom: 80px;
}

.symbol-list {
    padding: 15px 0;
}

.symbol-list__container {
    width: calc(40% + 550px);
    margin: 0 auto;
}

.symbol-list__header, .symbol-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #272727;
}
.symbol-item {
    min-height: 60.5px;
}

.symbol-list__header {
    font-size: 12px;
    font-weight: 400;
    color: #8c8c8c;
}


.symbol-item:hover {
    background-color: rgba(255, 255, 255, 0.05); 
    cursor: pointer;
}

.symbol-item__name ,.symbol-item__price, .symbol-item__change {
    font-size: 14px;
}


.symbol-item__name {
    display: flex;
    align-items: center;
}

.symbol-item__name img {
    width: 45px;
    height: 24px;
    margin-right: 1px;
}

.symbol-item__price {
    display: flex;
    flex-direction: column;
}

.symbol-item__price span:last-child {
    font-size: 0.8em;
    color: #8c8c8c;
}

.symbol-list__header span:first-child{
    margin-left: 12px;
}

.symbol-list__header span:last-child{
    margin-right: 39px;
    justify-self: end;
}

.symbol-item__actions {
    margin-right: 10px;
    justify-self: end;
}

.symbol-item__change.positive {
    color: #259a32;
}

.symbol-item__change.negative {
    color: #ff4d4f;
}

.symbol-item__actions {
    justify-self: end;
}

.symbol-item__link {
    color: #1890ff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.symbol-item__link:hover {
    color: #40a9ff;
}