/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    letter-spacing: 1px;

}

body {
    background-color: #0d0e0f;
    color: #ffffff;
}

hr {
    border: 0;
    height: 0.2px;
    background-color: #272727;
}

/* Header */
.header {
    background-color: #0d0e0f;
    height: 46px;
    padding: 10px 0;
}

.header__container {
    width: calc(40% + 550px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 20px;
}

.header__logo {
    color: rgb(0, 132, 255);
    font-size: 20px;
    cursor: pointer;
}

.header__logo--link {
    text-decoration: none;

}

.header__logo--link:visited {
    color: rgb(0, 132, 255);
}

.header__logo--link:active {
    color: rgb(158, 201, 241);
}


/* Main */
.main {
    display: flex;
    flex-direction: column;
}

.login__container {
    border-radius: 10px;
    width: 350px;
    height: 470px;
    margin: 50px auto 30px auto;
    overflow: hidden;
    border: 0.6px solid rgba(70, 76, 86, 1);
}

.login__title {
    font-size:24px;
    font-weight:600;
    border-bottom: 0.6px solid rgba(70, 76, 86, 1);   
    padding: 25px 30px 25px 30px;
    
}

.login__subtitle {
    font-size:13px;
    font-weight:400;
    padding: 20px 30px 0px 30px;
}

.login__form {
    padding: 25px 30px;
}


label {
    font-size: 12px;
    display: block;
    color: #a1a1a1;
    margin-bottom: 12px;
}

input {
    margin-bottom: 25px;
    width: 100%;
    padding: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px ;
    background-color: #0d0e0f;
    color: #ffffff;
}

input:focus {
    outline: none; 
    border-color: #4a90e2; 
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2); 
}

/* make sure the input background color is black when autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px #0d0e0f inset;
    transition: background-color 5000s ease-in-out 0s;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, rgba(122, 189, 255, 0.9) 0%, rgba(33, 140, 255, 0.9) 100%);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login__button {
    margin: 50px 0 10px 0;
}

button:hover {
    background: linear-gradient(135deg, rgba(142, 199, 255, 0.95) 0%, rgba(53, 160, 255, 0.95) 100%);
    box-shadow: 0 4px 8px rgba(33, 140, 255, 0.3); 
}

button:active {
    background: linear-gradient(135deg, rgba(102, 169, 255, 0.9) 0%, rgba(13, 120, 255, 0.9) 100%);
    box-shadow: 0 2px 4px rgba(33, 140, 255, 0.3); 
    transform: translateY(0.5px); 
}

.signup__container {
    margin: 0 auto;
}

.signup__link {
    font-size: 11.5px;
    color: rgb(55, 154, 246);
    cursor: pointer;
}

.signup__link:hover {
    color: rgb(85, 174, 255); /* 懸停時稍微變亮 */
}

.signup__link:active {
    color: rgb(35, 134, 226); /* 點擊時顏色變暗 */
}
