/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    letter-spacing: 1px;

}

body {
    background-color: #0d0e0f;
    color: #ffffff;
}

hr {
    border: 0;
    height: 0.2px;
    background-color: #272727;
}

/* hide Chrome, Safari, Edge, Opera spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Container */
.header__container {
    width: calc(70% + 300px);
    margin: 0 auto;
}

/* Header */
.header {
    background-color: #0d0e0f;
    padding: 10px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 20px;
}

.header__logo {
    color: rgb(0, 132, 255);
    font-size: 20px;
    cursor: pointer;
}

.header__logo--link {
    text-decoration: none;

}

.header__logo--link:visited {
    color: rgb(0, 132, 255);
}

.header__logo--link:active {
    color: rgb(158, 201, 241);
}

.header__link {
    color: white;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.header__link:hover{
    color: rgb(169, 191, 212);
}

/* Buttons */
.header__actions {
    margin-left: auto; 
    display: flex;
    align-items: center;
}


.header__login {
    margin-left: 20px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3b424a;
    color: #ffffff;
}

.header__login:hover {
    background: linear-gradient(135deg, #485058, #3b424a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header__signup {
    margin-left: 10px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #559cec, #357abd);
    color: #ffffff;
}

.header__signup:hover {
    background: linear-gradient(135deg, #5a9ee8, #4a90e2);
    box-shadow: 0 2px 4px rgba(74, 144, 226, 0.1);
}

.header__logout {
    margin-left: 5px;
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222931;
    color: #ffffff;
}

.header__logout:hover {
    background: linear-gradient(135deg, #485058, #3b424a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Main and grid configuration*/
.main {
    display: grid;
    grid-template-columns: 3.65fr 0.8fr 0.9fr;
    grid-template-rows: auto minmax(300px, 1fr);
    gap: 10px;
    padding: 10px 15px 15px 15px;
    min-height: calc(100vh - 46px);
    max-height: calc(100vh - 46px);
}


.chart {
    grid-column: 1;
    grid-row: 1 / 2;
    border-radius: 2px;
    background-image: url('../images/temp-chart.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.order-book {
    grid-column: 2;
    grid-row: 1 / 2;
    background-color: #15161a;
    border-radius: 2px;

}

.trade-panel {
    grid-column: 3;
    grid-row: 1 / 2;
    background-color: #5888a8;
    border-radius: 2px;
}

.open-orders {
    grid-column: 1 / 2 ;
    grid-row: 2;
    background-color: #52bf7f;
    border-radius: 2px;
}

.my-trades{
    grid-column: 3 ;
    grid-row: 2;
    background-color: #337850;
    border-radius: 2px;
}


/* order-book */
.order-book {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    max-height: 570px;
}

.order-book-header {
    font-size: 16px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 11px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    font-weight: 400;
}

.order-book__table-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 11px;
    color: #999;
    margin-bottom: 10px;
}

.order-book__asks,
.order-book__bids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 11px;
    font-weight: 300;
    gap: 3px 0;
    min-height: 172px;
}

.order-book__asks div,
.order-book__bids div {
    padding: 1px 0;
}

.order-book__spread {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 10px 0;
    font-weight: 500;
    min-height: 55.5px;
}


.order-book__price {
    font-size:15px;
    color: #ffffff;
}

.order-book__price--usd {
    font-size: 9px;
    font-weight: 400;
    color: #a1a1a1;
}

.order-book__price.positive {
    color: #259a32;
}

.order-book__price.negative {
    color: #db3a32;
}

.order-book__table-header span:first-child,
.order-book__asks div:nth-child(odd),
.order-book__bids div:nth-child(odd) {
    text-align: left;
}

.order-book__table-header span:last-child,
.order-book__asks div:nth-child(even),
.order-book__bids div:nth-child(even) {
    text-align: right;
}

.order-book__asks div:nth-child(odd) {
    color: #db3a32; 
}

.order-book__bids div:nth-child(odd) {
    color: #259a32; 
}


/* trade-panel */
.trade-panel {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px;
}

.trade-panel__tab {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    position: relative;
    background-color: #333;
    border-radius: 30px;
    cursor: pointer;
}


.trade-panel__tab--buy, .trade-panel__tab--sell {
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trade-panel__tab--buy{
    width: 40%;
    background-color: #333;
    z-index: 2;
    text-indent: 15px;
}

.trade-panel__tab--sell {
    background-color: #333;
    width: 40%;
    z-index: 1;
    text-indent: -15px;

}

.trade-panel__tab--buy.active {
    background-color: #56c488;
    z-index: 2;
    width: 60%;
    text-indent: 0;
}

.trade-panel__tab--sell.active {
    background-color: #c45656;
    z-index: 2;
    width: 60%;
    text-indent: 0;

}







.trade-panel__order-type select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.trade-panel__input-group {
    position: relative;
    margin-bottom: 15px;
}

.trade-panel__input {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
}

.trade-panel__input:focus {
    outline: none; 
    border: 1px solid #4a90e2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    transition: background-color 5000s ease-in-out 0s;
}


.trade-panel__currency {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.trade-panel__verified {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #56c488;
}

.trade-panel__quick-select {
    display: flex;
    background-color: #2c2c2e;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 15px;
}

.trade-panel__quick-select button {
    font-size: 9px;
    flex: 1;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    background: none;
    color: #c8c8c8;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

.trade-panel__quick-select button.active {
    color: #000;
    background-color: #fff;
}


.trade-panel__available {
    display: flex;
    margin-bottom: 15px;
    font-size: 11px;
    color: #999;
}

.trade-panel__available-price, .trade-panel__available-asset {
    margin-left: auto;
    font-size: 11px;
    color: #e7e7e7;
}


.trade-panel__submit {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trade-panel__submit.unauthorized {
    background-color: #356049;
}

.trade-panel__submit.buy {
    background-color: #56c488;
}

.trade-panel__submit.sell {
    background-color: #c45656;
}




/* open-order */
.open-orders {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    /* overflow */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: #888 #1a1a1a;
}

.open-orders::-webkit-scrollbar {
    width: 8px;
}

.open-orders::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.open-orders::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #1a1a1a;
}

.open-orders__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.open-orders__header h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.open-orders__history-btn {
    background: none;
    border: none;
    color: #4a90e2;
    cursor: pointer;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table {
    font-size: 10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    display: grid;
    grid-template-columns: 1.3fr 0.8fr 0.6fr 0.6fr 1fr 1fr 1fr 0.6fr 0.4fr;
}

thead, tbody, tr {
    display: contents;
}

th  {
    padding: 12px 5px 7px 5px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-weight: 700;
    border-bottom: 1px solid #333;
}

td {
    padding: 12px 5px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-weight: 300;
}

.cancel-btn {
    background-color: transparent;
    color: #e74c3c;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 10px;
}

.open-orders__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    color: #666;
}
.open-orders__no-data img {
    width: 100px;
    margin-bottom: 20px;
}


/* recent-trades */
.recent-trades {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    /* overflow */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: #888 #1a1a1a;
}

.recent-trades__title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.recent-trades__header {
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.recent-trades__list {
    max-height: 400px;
    overflow-y: auto;
}

.recent-trade__item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 11px;
}


.recent-trade__item.buy .trade-price {
    color: #259a32; 
}

.recent-trade__item.sell .trade-price {
    color: #db3a32;
}


/* my-trades */
.my-trades {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
}

.my-trades__title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.my-trades__header {
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}


 /* hide scrollbar */
.recent-trades__list::-webkit-scrollbar.my-trades__list::-webkit-scrollbar {
    width: 5px;
}

.recent-trades__list::-webkit-scrollbar-thumb,.my-trades__list::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px;
}

.recent-trades__list::-webkit-scrollbar-track,.my-trades__list::-webkit-scrollbar-track {
    background-color: #333;
}