/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    letter-spacing: 1px;

}

body {
    background-color: #0d0e0f;
    color: #ffffff;
}

hr {
    border: 0;
    height: 0.2px;
    background-color: #272727;
}

/* Container */
.header__container {
    width: calc(40% + 550px);

    margin: 0 auto;
}

/* Header */
.header {
    background-color: #0d0e0f;
    padding: 10px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 20px;
}

.header__logo {
    color: rgb(0, 132, 255);
    font-size: 20px;
}
.header__logo--link {
    text-decoration: none;

}

.header__logo--link:visited {
    color: rgb(0, 132, 255);
}

.header__logo--link:active {
    color: rgb(158, 201, 241);
}

.header__link {
    color: white;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
}

.header__link:hover{
    color: rgb(169, 191, 212);
}

/* Buttons */
.header__actions {
    margin-left: auto; 
}

.header__button {
    font-size: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4a90e2;
    color: #ffffff;
}



/* hero section */

.hero {
    height: 300px;
    background-color: #081d3b;
}

.hero__container {
    width: calc(40% + 550px);
    margin: 0 auto;
}

.hero__title{
    padding: 50px 0 0 0 ;
    font-size: 40px;
    font-weight: 600;
}

.hero__text{
    padding: 30px 0 0 0 ;
    font-weight: 300;
}

.hero__register {
    margin: 30px 0 0 0;
}

.hero__register--input {
    width: 300px;
    padding: 12px 15px;
    border: 1px solid #333;
    margin: 10px 1px 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #081d3b;
}

.hero__register--input::placeholder {
    color: #666;
}

.hero__register--button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.hero__register--button:hover {
    background-color: #357abd;
}


/* Main */
.main {
    background-color: #0d0e0f;
    color: #ffffff;
}

/* Balance */
.balance-overview {
    width: calc(40% + 550px);
    height: 180px;
    margin: 15px auto 0 auto;
    padding: 30px;
    border: 1px solid #333; 
    border-radius: 8px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.balance-details {
    display: flex;
}
  
.balance-row__total, .balance-row__available, .balance-row__locked {
    display: flex;
    flex-direction: column;
}

.balance-row__total {
    margin: 0 100px 0 5px;
}

.balance-row__available {
    margin: 0 100px 0 0 ;
}

.balance-label__total {
    color: #8c8c8c;
    font-size: 18px;
    margin-bottom: 10px;
}

.balance-value__total {
    font-size: 32px;
}
  
.balance-label__available, .balance-label__locked {
    color: #8c8c8c;
    font-size: 14px;
    margin-bottom: 10px;
}

.balance-value__available, .balance-value__locked {
    font-size: 16px;
}
  

  
.history-button {
    background-color: #2c2c2c;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
  
.history-icon {
    font-size: 16px;
}



/* Asset-List */
.asset-list {
    padding: 15px 0;
}

.asset-list__container {
    width: calc(40% + 550px);
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #333; 
    border-radius: 8px; 
}

.asset-list__title {
    margin: 10px 10px 15px 10px;
    font-size: 27px;
    font-weight: 800px;
}

.asset-list__header, .asset-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.7fr;
    gap: 20px;
    align-items: center;
    padding: 15px 0;
}

.asset-list__header {
    font-size: 12px;
    font-weight: 400;
    color: #8c8c8c;
}


.asset-item:hover {
    background-color: rgba(255, 255, 255, 0.05); 
}

.asset-item__name ,.asset-item__price, .asset-item__change {
    font-size: 14px;
}


.asset-item__name {
    display: flex;
    align-items: center;
}

.asset-item__name img {
    width: 24px;
    max-width: 24px;
    height: 24px;
    margin-right: 12px;
}

.asset-item__amount {
    display: flex;
    flex-direction: column;
}

.asset-item__amount span:last-child{
    font-size: 0.8em;
    color: #8c8c8c;
}

.asset-list__header span:first-child{
    margin-left: 12px;
}

.asset-list__header span:last-child{
    margin-right: 25px;
    justify-self: end;
}

.asset-item__actions {
    margin-right: 10px;
    justify-self: end;
}

.asset-item__change.positive {
    color: green;
}

.asset-item__change.negative {
    color: #ff4d4f;
}

.asset-item__actions {
    justify-self: end;
}

.asset-item__link {
    color: #1890ff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.asset-item__link:hover {
    color: #40a9ff;
}